       <div class="panel panel-default visible-md-block visible-lg-block">
        <div class="panel-body">
          <h5 class="m-t-0">Photos <small>· <a href="#">Edit</a></small></h5>
          <div data-grid="images" data-target-height="150">
            <div>
              <%= image_tag("instagram_5.jpg", :data => {:width => "640", :height => "640", :action => "zoom"}) %>
            </div>

            <div>
              <%= image_tag("instagram_6.jpg", :data => {:width => "640", :height => "640", :action => "zoom"}) %>
            </div>

            <div>
              <%= image_tag("instagram_7.jpg", :data => {:width => "640", :height => "640", :action => "zoom"}) %>
            </div>

            <div>
              <%= image_tag("instagram_8.jpg", :data => {:width => "640", :height => "640", :action => "zoom"}) %>
            </div>

            <div>
              <%= image_tag("instagram_9.jpg", :data => {:width => "640", :height => "640", :action => "zoom"}) %>
            </div>

            <div>
              <%= image_tag("instagram_10.jpg", :data => {:width => "640", :height => "640", :action => "zoom"}) %>
            </div>
          </div>
        </div>
      </div>