<div class="container p-t-md">
  <div class="row">
    <div class="col-md-3">
      <%= render "userpanel" %>
      <%= render "aboutpanel" %>
      <%= render "photopanel" %>
    </div>

    <div class="col-md-6">
      <%= render "timeline" %>
    </div>

    <div class="col-md-3">
      <%= render "adpanel" %>
      <%= render "likespanel" %>
      <%= render "footerpanel" %>
    </div>
  </div>
</div>