<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'm-x-auto text-center app-login-form'}) do |f| %>

  <%= link_to image_tag("brand.png"), root_url, :class=>"app-brand m-b-lg"%>

  <div class="form-group">
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Username" %>
  </div>

  <div class="form-group m-b-md">
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "password" %>
  </div>

  <div class="m-b-lg">
    <%= f.submit "Log in", class: "btn btn-primary" %>
    <%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-default" %><br />
  </div>

<footer class="screen-login">
  <%= render "devise/shared/links" %>
</footer>
<% end %>