<!DOCTYPE html>
<html>
<head>
  <title>Gitarify</title>
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="with-top-navbar">

<%= render "alertgrowl" %>

<%= render "navbar" %>
<%= render "usrmodal" %>

<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
